<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214788818091-s8q5bq711k66lut8kmb0s6akoncfmnk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214788818091-s8q5bq711k66lut8kmb0s6akoncfmnk2</string>
	<key>API_KEY</key>
	<string>AIzaSyBF0vTAsYk0J5PwdvIcLKs5t8wkwu9CPXM</string>
	<key>GCM_SENDER_ID</key>
	<string>214788818091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-reddit</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-reddit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214788818091:ios:4af5883ba89a90dafd23ee</string>
</dict>
</plist>